<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="social_login" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Social Login</label>
            <tab>brandaddition</tab>
            <resource>BA_Basys::webservices_config</resource>
			<group id="google" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Google</label>
                <field id="is_google_enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Create app <a href="https://code.google.com/apis/console/" target="_bank">here</a>]]></comment>
                </field>
                <field id="app_id" translate="label" type="password" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client ID</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="is_google_enabled">1</field>
                    </depends>
                </field>
                <field id="app_secret" translate="label" type="password" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Secret</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="is_google_enabled">1</field>
                    </depends>
                </field>
                <field id="btn_label" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Btn Label</label>
                    <depends>
                        <field id="is_google_enabled">1</field>
                    </depends>
                </field>
                <field id="redirect_uri" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Redirect Url</label>
                    <comment>Please enter the authorised redirect url from the google account based on the domain.</comment>
                    <depends>
                        <field id="is_google_enabled">1</field>
                    </depends>
                </field>
            </group>
		</section>
	</system>
</config>
